*{
    box-sizing: border-box;
   
}
body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(145, 165, 202);  
}
form{
    padding:20px;
}
.container{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #9669b2;
    border: 1px solid #383636;
    border-radius: 10px;
    box-shadow: 12px 7px 12px 2px rgba(0,0,0,0.59)
}
.title{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(226, 205, 226);
}
.input-field{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.input{
    padding:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    margin-bottom: 10px;
}
.int{
   padding:10px;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   font-size: 13px;
}

.btn-login{
    width: 100%;
    padding:8px;
    background-color: rgb(123, 108, 218);
    color:#ffffff;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-login:hover{
    background-color: darkslateblue;
    margin-bottom:10px ;
}


